streamlit
streamlit-option-menu
langchain
langchain_core
langchain-community
langchain-experimental
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-cohere
langchain-groq
langchain_mistralai
langchain_google_vertexai
langchain_fireworks
langchain_nvidia_ai_endpoints
langchain-chroma
langchain-pinecone
pandas
numpy
matplotlib
beautifulsoup4
validators
pydantic
youtube-transcript-api
pytube 